/* Test */
.test {
  width: 100%;
  height: 150px;
  background: #666;
  color: #fff;
  margin: 5px;
}

.fixed {
  float:right;
  position: fixed;
  bottom: 0;
  right: 0;
}

/* General */
body {
  font-family: 'Roboto', sans-serif;
  padding-top: 70px;
  color: #092151;
}

/* Utilities */
.pb-30 {
  padding-bottom: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.text-opacity {
  opacity: .8;
}

.disp-ib {
  display: inline-block;
}

/* Header */
/* Navbar */
#navbar {
  background: #fff;
  padding-top: 20px;
}

#navbar .first-menu {
  padding: 6px 0 6px;
}

#navbar ul a {
  color: #333;
}

#navbar ul .fas {
  padding-left: 5px;
}

#navbar .btn {
  border-color: #3c83ff;
  color: #3c83ff;
}

/* Main */
/* Jumbotron */
#jtron {
  background-image: url('../img/bg-banner-home.jpg');
  background-size: cover;
  background-position: center;
}

#jtron .jumbotron {
  background: none;
  color: #fff;
  padding: 48px 0;
}

#jtron .jumbotron h1 {
  font-size: 50px;
}

#jtron .jumbotron p {
  font-size: 18px;
}

#jtron .form-box {
  background: #fff;
  border-radius: 5px;
  padding: 15px 10px;
  margin-top: 40px;
}

#jtron .form-box h2 {
  font-size: 25px;
}

#jtron .form-box .no-mg-top {
  margin-top: 0;
  color: #3c83ff;
}

#jtron .form-box .btn-primary {
  background: #579aff;
  border-color: #579aff;
  color: #fff;
}

#jtron .btn-google img {
  height: 20px;
}

#jtron .btn-google a {
  text-decoration: none;
  padding-right: 20px;
  color: #333;
}

#jtron .form-box span {
  font-size: 12px;
  padding-top: 10px;
  display: inline-block;
}

#jtron .form-box span a {
  color: #3c83ff;
}

/* Logo section */
#logos {
  background: #f3f5f9;
}

#logos h3 {
  font-size: 15px;
  color: #6f7b97;
}

.col-logo {
  height: 100px;
}

#logos img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#logos a {
  text-decoration: none;
  color: #3c83ff;
}

#logos a .fas {
  padding-left: 5px;
}

/* Info nested section */
.sidebar {
  border-left: 2px solid #ccc;
}

.sidebar ul li {
  padding: 10px 15px;
  color: #75809a;
}

.info-box {
  width: 100%;
  color: #092151;
}

.info-box p {
  font-size: 12px;
}

/* Slider */
.slider {
  background: #f3f5f9;
}

.slider .fas {
  font-size: 50px;
}

.slider img {
  width: 70%;
}

.slider span,
.slider ul {
  padding-top: 10px;
}

.slider li {
  width: 15px;
  height: 15px;
  border:1px solid #3c83ff;
  border-radius: 50%;
}

.slider li:first-child {
  background: #3c83ff;
}

/* Features */
#features img {
  padding-bottom: 5px;
}

#features a {
  text-decoration: none;
  color: #3c83ff;
}

#features .fas {
  padding-left: 5px;
}

/* Tables */
#tables {
  background-image: linear-gradient(180deg, #0047c5, #01209a);
  color: #fff;
}

#tables .table-content {
  padding: 10px 0;
  font-size: 12px;
  border-bottom: 1px solid #fff;
}

#tables .table-content.table-content-last {
  border: none;
}

#tables .content-left,
#tables .content-right {
  width: calc(20% - 5px);
}

#tables .content-middle {
  width: 60%;
}

#tables a {
  text-decoration: none;
  color: #00bbcc;
}

/* slider2 */
.slider2-content {
  width: 500px;
  height: 300px;
  max-width: 100%;
  background: #fff;
  padding: 6% 0;
}

.slider2-content p {
  font-size: 16px;
  padding: 20px 10px;
}

.slider2-content span {
  display: block;
  padding-top: 0;
  font-size: 12px;
}

.slider2-content span:first-of-type {
  font-weight: 500;
}

.slider2-content a {
  text-decoration: none;
  font-size: 12px;
  color: #3c83ff;
}

.slider2-content .fas {
  font-size: 12px;
  padding-left: 10px;
}

.arrow {
  position: relative;
  transform: translateY(-200%);
}

/* Pre-footer */
#pre-footer {
  background-image: linear-gradient(180deg, #0047c5, #01209a);
  color: #fff;
}

#pre-footer a {
  color: #3c83ff;
}

/* Footer */
#footer {
  background: #031c4e;
  color: #fff;
}

#footer .footer-logo {
  color: #8690a6;
}

#footer .footer-logo span {
  font-size: 12px;
  padding-bottom: 10px;
}

#footer .footer-list h6 {
  font-size: 18px;
}

#footer .footer-list li {
  color: #8690a6;
}

/* Helper */
#helper {
  position: fixed;
  bottom: 0;
  right: 0;
}

.helper-box {
  height: 50px;
  width: 50px;
  background: #016aff;
  border-radius: 5px;
  margin-left: 15px;
}

.helper-box img {
  max-width: 100%;
}

#helper .helper-chat {
  position: relative;
  width: 300px;
  height: 50px;
  background: #fff;
  border-radius: 5px;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .5));
  padding: 10px;
  font-size: 10px;
}

#helper .helper-chat::after {
  content: '';
  position: absolute;
  bottom: 10px;
  right: -5px;
  width: 10px;
  height: 10px;
  background: #fff;
  transform: rotate(45deg)
}

#helper .help-badge {
  position: absolute;
  top: -7px;
  right: 0;
  height: 15px;
  width: 15px;
  background: #fe2601;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
}
